@font-face {
   font-family: 'RubikDoodleShadow';
   src: url('./RubikDoodleShadow-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

.hello {
   color: red;
   font-family: 'RubikDoodleShadow';
   background: url('./goldblum.png');
}